.container {
  width: min(130rem, 100% - 3rem);
  margin-inline: auto;
}

.mb-700 {
  margin-bottom: 8rem;
}

.mb-200 {
  margin-bottom: 1.5rem;
}

.mb-300 {
  margin-bottom: 2rem;
}

.mb-500 {
  margin-bottom: 4rem;
}

.mt-800 {
  margin-top: 9rem;
}

