:root {
  --color-primary: #55c57a;
  --color-primary-dark: #21ac7e;
  --color-primary-light: #88d37b;
  --color-primary-light-transparent: rgba(126, 213, 111, 0.81);

  --color-secondary-light: #ffb900;
  --color-secondary-dark: #ff7730;

  --color-tertiary-light: #2998ff;
  --color-tertiary-dark: #5643fa;
  
  --color-grey-light-1: #f7f7f7;
  --color-grey-dark: #777;

  --header-clip-amount: 25vh;
  --col-gap: 3rem;
}
