.popular-tours {
  display: flex;
  gap: 11rem;
  flex-wrap: wrap;
  justify-content: center;
}

.tours-card {
  flex: 0 1 35rem;
  min-width: 30rem;
  perspective: 150rem;

  &:hover &__content,
  &:focus &__content {
    transform: rotateY(-180deg);
    transition: transform 0.4s ease;
  }

  &__content {
    position: relative;
    height: 50rem;
    transition: transform 0.8s ease;
    transform-style: preserve-3d;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  }

  &__side {
    border-radius: 5px;
    overflow: hidden;
    position: absolute;
    inset: 0;
    backface-visibility: hidden;

    &--front {
      background-color: white;
    }

    &--back {
      transform: rotateY(180deg);
      text-align: center;
      padding-block: 11rem;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &--1 {
        background: linear-gradient(
          to right bottom,
          var(--color-secondary-light),
          var(--color-secondary-dark)
        );
      }

      &--2 {
        background: linear-gradient(
          to right bottom,
          var(--color-primary-light),
          var(--color-primary-dark)
        );
      }

      &--3 {
        background: linear-gradient(
          to right bottom,
          var(--color-tertiary-light),
          var(--color-tertiary-dark)
        );
      }
    }
  }

  &__front-img {
    height: 23rem;
    background-size: cover;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 82%, 0% 100%);

    &--1 {
      background-image: linear-gradient(
          to right bottom,
          var(--color-secondary-light),
          var(--color-secondary-dark)
        ),
        url('../img/nat-5.jpg');
    }

    &--2 {
      background-image: linear-gradient(
          to right bottom,
          var(--color-primary-light),
          var(--color-primary-dark)
        ),
        url('../img/nat-6.jpg');
    }

    &--3 {
      background-image: linear-gradient(
          to right bottom,
          var(--color-tertiary-light),
          var(--color-tertiary-dark)
        ),
        url('../img/nat-7.jpg');
    }
  }

  &__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    position: absolute;
    text-align: right;
    top: 12rem;
    right: 2rem;
    color: white;
    max-width: 14ch;
  }

  &__heading-span {
    padding: 1rem 1.5rem;
    box-decoration-break: clone;

    &--1 {
      background-color: var(--color-secondary-light);
    }

    &--2 {
      background-color: var(--color-primary-light);
    }

    &--3 {
      background-color: var(--color-tertiary-light);
    }
  }

  &__front-details {
    text-align: center;
    padding: 1rem 4rem;
    ul {
      li {
        padding: 1.2rem;
        font-size: 1.5rem;

        &:not(:last-child) {
          border-bottom: 3px solid #eee;
          // margin-bottom: 2rem;
        }
      }
    }
  }

  &__back-only-text {
    text-transform: uppercase;
  }

  &__back-price {
    margin-bottom: auto;
    font-size: 8rem;
    font-weight: 200;
    line-height: 1.1;
  }

  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
    &:hover &__content {
      transform: none;
    }

    &__content {
      position: static;
      height: auto;
      transform-style: initial;
      margin-left: 1px;
      border-radius: 5px;
      overflow: hidden;
    }

    &__side {
      position: static;
      border-radius: 0;

      &--front {
        padding-bottom: 3rem;
      }

      &--back {
        transform: rotateY(0);
        margin-top: -3.5rem;
        padding: 3rem 2rem 2rem;
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
      }
    }

    &__back-only-text {
      margin-bottom: 1rem;
    }

    &__back-price {
      font-size: 6rem;
      margin-bottom: 2rem;
      font-weight: 300;
    }
  }
}
